@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera_Pro/CeraPro-Black.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-Black.woff"),
    url("../fonts/Cera_Pro/CeraPro-BlackItalic.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-BlackItalic.woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera_Pro/CeraPro-Bold.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-Bold.woff"),
    url("../fonts/Cera_Pro/CeraPro-BoldItalic.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-BoldItalic.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera_Pro/CeraPro-Medium.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-Medium.woff"),
    url("../fonts/Cera_Pro/CeraPro-MediumItalic.woff") format("woff2"),
    url("../fonts/Cera_Pro/CeraPro-MediumItalic.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera_Pro/CeraPro-Regular.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera_Pro/CeraPro-Light.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-Light.woff"),
    url("../fonts/Cera_Pro/CeraPro-LightItalic.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-LightItalic.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/Cera_Pro/CeraPro-Thin.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-Thin.woff"),
    url("../fonts/Cera_Pro/CeraPro-ThinItalic.woff") format("woff2"), url("../fonts/Cera_Pro/CeraPro-ThinItalic.woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
