/* Variables */

$white: #fff;
$black: #000;
$primary-black: #3d3d3d;
$primary-green: #46a358;
$primary-dark-white: #fbfbfb;
$text-color: #727272;

$border-radius-1: 4px;
$border-radius-2: 6px;
$border-radius-3: 50%;
